<PluginOutlet @name="above-right-sidebar-blocks" />

{{#each this.blocks as |block|}}
{{#if block.parsedParams.campaign_id}}
  <div class={{block.classNames}}{{on "click" (fn this.handleBlockClick block) capture=true}}>
    {{component block.internalName params=block.parsedParams}}
  </div>
{{else}}
<div class={{block.classNames}}>
    {{component block.internalName params=block.parsedParams}}
  </div>
{{/if}}
  <PluginOutlet
    @name="below-right-sidebar-block"
    @outletArgs={{hash block=block}}
  />
{{/each}}

<PluginOutlet @name="below-right-sidebar-blocks" />